.animation {
    width: 50vmin;
    height: 50vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: rotate 5s linear infinite;
    background-color: rgb(21, 0, 37);
    border-radius: 100%;
    border-color: #ffffff;
    border-width: 1px;
    border-style: solid;
    filter: opacity();
}


.moon5{
    animation: scale4 20s infinite alternate;
    margin-bottom:10vmin;
    width: 35vmin;
    height: 35vmin;
    background-color: rgb(150, 145, 196);
    border-radius: 100%;
    position: absolute;
    border-color: #2d0561;
    border-width: 1px;
    border-style: solid;
}

.moon4{
    animation: scale1 20s infinite alternate;
    margin-left:-15vmin;
    margin-bottom:10vmin;
    width: 30vmin;
    height: 30vmin;
    background-color: rgb(55, 57, 153);
    border-radius: 100%;
    position: absolute;
    border-color: #ffffff;
    border-width: 1px;
    border-style: solid;
}

.moon3 {
    animation: scale3 3s infinite alternate;
    margin-left: 10vmin ;
    width: 10vmin;
    height: 10vmin;
    background-color: #ffffff;
    border-radius: 100%;
    position: absolute;
    border-color: #060131;
    border-width: 1px;
    border-style: solid;
    
}

.moon2 {
    animation: scale2 3s infinite alternate;
    margin-top: 15vmin;
    width: 10vmin;
    height: 10vmin;
    background-color: rgb(68, 0, 255);
    border-radius: 100%;
    position: absolute;
    border-color: #ffffff;
    border-width: 1px;
    border-style: solid;
}

.moon1 {
    animation: scale1 8s infinite alternate;
    margin-left:10vmin;
    margin-bottom:10vmin;
    width: 20vmin;
    height: 20vmin;
    background-color: rgb(70, 141, 199);
    border-radius: 100%;
    position: absolute;
    border-color: #ffffff;
    border-width: 1px;
    border-style: solid;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes scale1 {
    from {
        transform: scale(1)
        translatey(10vmin)
    }
    to {
        transform: scale(0.75);
    }
}

@keyframes scale2 {
    from {
        transform: scale(1)
        translatex(-5vmin)
    }
    to {
        transform: scale(0.75);
    }
}

@keyframes scale3 {
    from {
        transform: scale(1)
        translatex(10vmin)
    }
    to {
        transform: scale(0.75);
    }
}

@keyframes scale4{
    from {
        transform: scale(1)
    }
    to {
        transform: scale(1.1);
    }
}




