*{
    margin: 0;
    font-family: sans-serif;
    padding: 0;
    color: #c5cbff;
    text-align: justify;
    list-style-type: none;
}

a{
    text-decoration: none;
}

.list{
    display: none;
    position: absolute;
    background-color: #333;
    border-style: solid;
    border-color: white;
    border-width: 1px;
}

p{
    font-size: 14px;
}

ul:hover .list{
    display: block;
}

body{
    background-color: #0d0a14;
}

h3{
    margin-top: 10px;
    margin-bottom: 10px;
}

h4{
    margin-top: 10px;
    margin-bottom: 10px;
}

h5{
    margin-top: 5px;
    margin-bottom: 5px;
}

section{
    height: 85vh;
    border-width: 1px;
}

nav>ul>li{
    display: inline-block;
    padding: 20px;
    text-align: center;
    height: 100%;
}

nav>ul>li:hover{
    background-color: #0d0a14;
}

nav>ul>li:hover a{
    color: #ffffff;
}

nav>ul>li>a{
    color: #0d0a14;
}

nav>ul{
    display: flex;
    align-items: center;
    width: fit-content;
    margin: 0 auto; /* This will center the ul horizontally */
    position: relative;
}

nav {
    display: flex;
    align-items: center;
    height: 60px;
    background-color: #ffffff;
}

nav>ul>li>ul{
    position: absolute;  
    display: none;
}

footer{
    height: 1.5em;
    background-color: white;
}

html{
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}


#study{
    scroll-snap-align: start;
}

#skills{
    scroll-snap-align: start;
}

#xp{
    scroll-snap-align: start;
}

#port{
    scroll-snap-align: start;
}

#adress{
    scroll-snap-align: start;
}

nav{
    scroll-snap-align: start;
}