
*{
    margin: 0;
    font-family: Quicksand, sans-serif;
    padding: 0;
    color: #ffffff;
    text-align: justify;
    list-style-type: none;
}

a{
    text-decoration: none;
}

.list{
    display: none;
    position: absolute;
    background-color: #333;
    border-style: solid;
    border-color: white;
    border-width: 1px;
}

p{
    font-size: 14px;
}

li:hover .list{
    left:-15px;
    margin-top: 10px;
    display: block;
    position: absolute;
    padding: 10px;
}

li:hover .list ul li{
    padding: 10px;
}

li:hover .list ul li:hover{
    background-color: #0d0a14;
}

li:hover .list ul li:hover a{ 
    background-color: #0d0a14;
    color: #4c00ff;
}

ul h5:hover ~ .list{
    display: block;
    position: absolute;
    padding: 10px;
}

ul h5:hover ~ .list *{
    padding: 3px;
}

ul h5:hover{
    color: #4c00ff;
}


body{
    background-color: #181930;
}

h3{
    margin-top: 10px;
    margin-bottom: 10px;
}

h4{
    margin-top: 10px;
    margin-bottom: 10px;
}

h5{ 
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
}

section{
    height: 85vh;
    border-width: 1px;
}

section#resumo{
    height: calc(85vh - 60px);
    border-width: 1px;
}

nav>ul>li{
    display: inline-block;
    padding: 20px;
    text-align: center;
    height: 100%;
}

nav>ul>li:hover{
    background-color: #0d0a14;
}

nav>ul>li:hover a{
    color: #ffffff;
}

nav>ul>li>a{
    color: #0d0a14;
}

nav>ul{
    display: flex;
    align-items: center;
    width: fit-content;
    margin: 0 auto; /* This will center the ul horizontally */
    position: relative;
}

nav {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    border-color: #0d0a14;
    border-style: solid;
    border-width: 1px;
}

nav>ul>li>ul{
    display: none;
}

footer{
    height: 1.5em;
    background-color: white;
}

html{
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}


#study{
    scroll-snap-align: start;
}

#skills{
    scroll-snap-align: start;
}

#xp{
    scroll-snap-align: start;
}

#port{
    scroll-snap-align: start;
}

#adress{
    scroll-snap-align: start;
}

nav{
    scroll-snap-align: start;
}

.resumo-content{
    display: flex;
    height: 100%;
}

.coin{
    width: 30vw;
    margin-left: auto;
    margin-right: auto;
}

.resumo-content > *{
    align-self: center;
    justify-content: center;
    vertical-align:middle;
    padding-right: 30px;
}

#resumo h1{
    font-size: xx-large;
}

#resumo p{
    font-size: 3vmin;
}

@media (max-width: 400px) {
    .resumo-content{
        display: inline-block;
    }

    #resumo p{
        font-size: 13px;
        padding-left: 30px;
    }
}