* {
  margin: 0;
  font-family: Quicksand, sans-serif;
  padding: 0;
  color: #ffffff;
  text-align: justify;
  list-style-type: none;
}

a {
  text-decoration: none;
}



.emoji{
    margin-left: 5px;
    height: 1.3em;
}

.list {
  display: none;
  position: absolute;
  background-color: #333;
  border-style: solid;
  border-color: white;
  border-width: 1px;
}

p,
h5,h4, .list {
  font-size: 14px;
}

li:hover .list {
  left: -15px;
  margin-top: 10px;
  display: block;
  position: absolute;
  padding: 10px;
}

li:hover .list ul li {
  padding: 10px;
}

li:hover .list ul li:hover {
  background-color: #0d0a14;
}

li:hover .list ul li:hover a {
  background-color: #0d0a14;
  color: #4c00ff;
}

ul h5:hover ~ .list {
  display: block;
  position: absolute;
  padding: 10px;
}

ul h5:hover ~ .list * {
  padding: 3px;
}

ul h5:hover {
  color: #0d0a14;
  background-color: #ffffff;
}

body {
  background-color: #181930;
}

h3, 
h2 {
  padding-top: 20px;
  margin-bottom: 10px;
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
}

h5 {
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 5px;
}

section {
  height: 85vh;
  border-width: 1px;
}

section#resumo {
  height: calc(85vh - 60px);
  border-width: 1px;
}

section#study,
section#skills,
section#xp,
section#port,
section#adress {
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 15px;
}

nav > ul > li {
  font-weight: 900;
  display: inline-block;
  padding: 20px;
  text-align: center;
  height: 100%;
}

.list  {
    font-size: 2.5vmin;
}


nav > ul > li:hover {
  background-color: #0d0a14;
}

nav > ul > li:hover a {
  color: #ffffff;
}

nav > ul > li > a {
  color: #0d0a14;
}

nav > ul {
  display: flex;
  align-items: center;
  width: fit-content;
  margin: 0 auto; /* This will center the ul horizontally */
  position: relative;
}

nav {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-color: #0d0a14;
  border-style: solid;
  border-width: 1px;
}

nav > ul > li > ul {
  display: none;
}

footer {
  height: 1.5em;
  background-color: white;
}

html {
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

#study {
  scroll-snap-align: start;
}

#skills {
  scroll-snap-align: start;
}

#xp {
  scroll-snap-align: start;
}

#port {
  scroll-snap-align: start;
}

#adress {
  scroll-snap-align: start;
}

nav {
  scroll-snap-align: start;
}

.resumo-content {
  display: flex;
  height: 65vh;
}

.coin {
  width: 35vw;
  margin-left: auto;
  margin-right: auto;
}

.resumo-content div.text {
  align-self: center;
  justify-content: center;
  vertical-align: middle;
  padding-right: 30px;
}


h1 {
  background-color: #0d0a14;
  font-size: 5vmin;
  padding: 15px;
  box-shadow: 5px 3px 3px black;
}

p,
h5,h4 {
  font-size: 3vmin;
}
h2,h3, nav {
  font-size: 4vmin;
}

.container {
    margin-top: auto;
    margin-bottom: auto;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

svg{
    position: absolute;
}

.container .candy{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: calc(35vw + 30px);
    opacity: 50%;
    height: auto;
}

@media (max-width: 700px) {
    .container .candy{
        width: 100%;
        left:0;
        opacity: 15%;
    }
}


@media (max-width: 400px) {
  .resumo-content {
    display: flex;
    flex-direction: column;
    height: 70vh;
  }

  .resumo-content,
  section#study,
  section#skills,
  section#xp,
  section#port,
  section#adress {
    margin-left: 15px;
    margin-right: 15px;
  }

  .resumo-content div.text {
    padding-right: 0px;
  }

  p,nav, 
  h5,h4,.list {
    font-size: 15px;
  }

  h1 {
    font-size: 26px;
  }

  h2,h3{
    font-size: 20px;
  }

  .container {
    order: 2;
  }
}

@media (max-width: 350px) {
  .resumo-content {
    display: flex;
    flex-direction: column;
  }

  section#study,
  section#skills,
  section#xp,
  section#port,
  section#adress {
    margin-left: 15px;
    margin-right: 15px;
  }

  .resumo-content div.text {
    padding-right: 0px;
  }

  nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  #resumo h1 {
    font-size: 23px;
  }

  p,
  h5, h4, .list {
    font-size: 12px;
  }

  nav {
    font-size: 14px;
  }

  h2,h3 {
    font-size: 18px;
  }

  .container {
    order: 2;
    margin-top: auto;
    margin-bottom: auto;
  }
}

.droplist {
  background-color: #4c00ff;
}

#canvas{
    margin-top: 10px;
    width: 100%;
    height: 85%;
    background-color:#3a3c75;
    border-style: solid;
    border-width: 1px;
}